body{
    background-color: rgb(225, 225, 225);
    font-family:'Roboto',Arial, Helvetica, sans-serif;
}

#main{
    position:absolute;
    left: 30%;
    width: 40%;
    
}
#head{
    background-color: white;
    margin-left: 30%;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 5px;
}

#back{
    margin-left: -32%;
    margin-top: 2%;
    cursor: pointer;
}

#head img{
    position: relative;
    left: 35%;
}

#title{
    position: relative;
    font-size: 25px;
    left: 35%;
    top: -15px;
}

.card{
    font-size: 20px;
    background-color: white;
    margin-bottom: 10px;
    height: 70px;
    border: rgb(225, 225, 225) 1px solid;
    border-radius: 10px;

}

.card img{
    height: 30px;
    border-radius: 3px;
    padding: 15px 10px;
}

.top-text{
    float: left;
    padding-top: 12px;
}

.sum{
    padding-top: 12px;
    float: right;
    padding-right: 10px;
}

.gray{
    position: relative;
    color:gray;
    font-size: 14px;
    top: 23px;
    left: -100px
}

#footer{
    background-color: white;
    width: 40%;
    margin-top: 40%;
    margin-left: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
}

.categories{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    padding-left: 11%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.categories span{
    color: #bebebe;
    font-size: 14px;
}